.axis path,
.axis line {
  fill: none;
  stroke: #CCCCCC;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
}

.activeline{
  stroke-width: 4px;
}

.label{
  text-anchor: end;
  font-size: 12px;
}

.activelabel{
    text-anchor: end;
  font-weight: bold;
  font-size: 12px;
}

.tick{
    font-size: 12px;
}

.tick line{
    fill: #CCCCCC;
    stroke: #CCCCCC;
    stroke-dasharray: 3,4;
}

.alaska_dependence{
    fill:#1f78b4;
}

.us_dependence{
    fill:#e31a1c;
}